ul{
  display: grid;
  grid-template-rows: repeat(3, 1fr) ;
  max-height: 50vh;
  gap: 2rem;
  grid-auto-flow: column;
}
li{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}
span{
  position: absolute;
  left: 1rem;
  text-align: left;
  font-weight: 900;
  font-size: 1.5rem;
  color: black;
  background-color: antiquewhite;
}
img{
  width: 200px;
  aspect-ratio: 1 /1 ;
  cursor: pointer;
}